.main-container {
  background: white;
  border-radius: 15px;
  margin: 30px auto;
  max-width: 1500px;
  padding: 10px;
}

body {
  background: linear-gradient(to top, #a3bded 0%, #6991c7 100%);
}

:root {
  --primary-color: #6d94ca;
}
.btn-bd-primary {
  font-weight: 600;
  color: var(--bs-white);
  background: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 20px;
}
.btn-bd-primary:hover {
  font-weight: 600;
  color: var(--primary-color);
  background: white;
  border-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: 20px;
}

.info-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 30px;
}

@media (max-width: 500px) {
  .info-link {
    font-size: 20px;
  }
}

.contact-us {
  font-size: 25px;
}
.bio-links {
  color: white;
  text-align: center;
  text-decoration: none;
}
.bio-links:hover {
  font-weight: bold;
}
